
/* Se quiser uma seção mais organizada */


body {
  background-color: rgb(88, 3, 88);
  color: whitesmoke;

}

.text{
  font-size: 24px;
}

.minhafoto{
  display: inline-block;
  width: 350px;  
  min-width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 0 0 25px black;
  transition: 0.4s ease-in-out;  
  
}

.minhafoto:hover, .about-img img:hover{
  box-shadow: 0 0 25px #ffff, 0 0 50px #ffff, 0 0 100px #ffff;
}

#flex{
  display: flex;
  align-items: center;
  gap: 50px;
  
 
}


  
  






