body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #111;
  margin: 0;
}

.navbar {
  width: 100%;
  padding: 20px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
}

.menu a.active {
  color: #000;
  font-weight: 800;
}

.contact-section {
  padding: 8vw 10vw;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 20px;
}

input, textarea {
  padding: 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

button {
  background: #111;
  color: #fff;
  padding: 14px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
