/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* BODY */
  body {
    background-color: #1b1c29;
    color: white;
     font-family: 'Poppins', sans-serif;  /*FONTE NOME GRANDE */
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
  /* HEADER */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;
    background-color: #141522;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-weight: 700;
    font-size: 1.3rem;
     color: #ef4b4b;  /* FONTE HEADER */
  }
  
  .menu a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #ef4b4b;
  }
  
  /* MAIN CONTENT */
  .content {
    max-width: 600px;
    padding: 60px 5vw 0 5vw;
  }
  
  h1 {
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 10px;
    line-height: 1.1;
  }
  
  em {
    font-style: italic;
    font-weight: 300;
    font-size: 1.2rem;
    color: #999;
  }
  
  /* Botão About Me */
  .btn-about {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #ef4b4b;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .btn-about:hover {
    background-color: #d94343;
  }
  
  /* Redes sociais fixas */
  .social-links {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .social-links a {
    color: #bbb;
    font-size: 1.8rem;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #ef4b4b;
  }
  
  .social-links::after {
    content: "";
    display: block;
    width: 2px;
    height: 120px;
    background: #555;
    margin: 15px auto 0 auto;
    border-radius: 1px;
  }
  